@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

body {
  background-color: #f7f9fc;
}

div {
  background-color:  #d1e1e8;
  padding: 30px;
  border-radius: 4px;
  width: 600px;
  text-align: center;
  margin: 30px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

h1, h2 {
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  color: #1f2921;
}

p {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  color: #0c0e12;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-content: center;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  display: inline;
}

.list li a{
  color: #1f2921;
  font-size: 40px;
  margin: 0 12px;
  :hover {
    color: #2a84ae;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .1);;
  }
}
